@media screen and (min-width: 767px) and (max-width: 1024px){
    /*General*/
    .title{
        text-align: center;
    }
    /*Header*/
    .header{
        padding: 15px 0 0 0;
    }
    .header-top{
        padding: 0;
        border: none;
    }
    .header-top__inner{
        justify-content: space-between;
    }
    .logo{
        order: 2;
        width: 92px;
    }
    .header-top-menu{
        order: 1;
        margin-left: 0;
    }
    .header-top-menu__mobile{
        display: block;
    }
    .header-top-menu__inner{
        display: none;
        position: absolute;
        top: 35px;
        left: -15px;
        width: 100vw;
        padding: 15px 0 19px 0;
        background-color: #F9F9F9;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        z-index: 99;
    }
    .header-top-menu_opened .header-top-menu__inner{
        display: flex;
        justify-content: center;
    }
    .header-top-menu__list{
        flex-direction: column;
        align-items: flex-start;
    }
    .header-top-menu__item{
        margin-left: 0;
        margin-top: 10px;
    }
    .header-top-menu__link{
        font-size: 14px;
    }
    .header-top-menu__item:nth-child(3){
        order: 1;
    }
    .header-top-menu__item:nth-child(1),
    .header-top-menu__item:nth-child(2),
    .header-top-menu__item:nth-child(4),
    .header-top-menu__item:nth-child(5){
        order: 2;
    }
    .enter-link{
        width: auto;
        height: auto;
        background-color: transparent;
        border: none;
        padding-bottom: 10px;
    }
    .header-top-wishlist{
        margin-top: 20px;
    }
    .header-top-wishlist__icon{
        width: 16px;
    }
    .header-top-wishlist__text{
        display: inline-block;
    }
    .header-top-controls{
        order: 3;
        margin-left: 0;
    }
    .search{
        order: 4;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        margin-top: 15px;
        margin-left: -15px;
        margin-right: -15px;
        padding: 15px;
        border-top: 1px solid rgba(81, 120, 221, 0.1);
    }
    .header-catalog-menu{
        display: block;
    }
    .form-search{
        width: 60%;
    }
    .inp-search{
        height: 40px;
        line-height: 38px;
    }
    /*Menu*/
    .menu{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #F9F9F9;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow: hidden;
    }
    .menu_opened{
        display: block;
    }
    .menu-list{
        margin-left: -15px;
        margin-right: -15px;
    }
    .menu-item{
        width: 100%;
        margin-bottom: 25px;
    }
    .menu-item_active{
        padding-top: 22px;
        padding-bottom: 13px;
    }
    .menu-item_active{
        box-shadow: none;
        border-top: 1px solid rgba(81, 120, 221, 0.05);
        border-bottom: 1px solid rgba(81, 120, 221, 0.05);
    }
    .menu-link{
        justify-content: flex-start;
        height: auto;
        font-size: 12px;
    }
    .submenu-list{
        position: static;
        padding: 15px;
    }
    .submenu-item{
        width: 25%;
    }
    .submenu-link{
        font-size: 10px;
    }
    /*Popular*/
    .popular-masters{
        margin-right: 0;
    }
    .popular-master{
        justify-content: center;
    }
    .popular-master__products{
        margin-top: 30px;
        margin-left: 0;
    }
    /*Intro*/
    .intro__bg img{
        min-height: 100%;
    }
    /*Single Page*/
    .single-product__inner{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .single-product-side,
    .single-product__feedbacks{
        margin-left:0;
        float: none;
    }
    .single-product__feedbacks{
        margin-top: 30px;
    }
    /*Checkout Page*/
    .checkout__inner{
        justify-content: center;
    }
    /*Seller Registration Page*/
    .seller-registration-benefits-item{
        width: 33%;
    }
    .seller-registration-intro__start{
        max-width: 70%;
    }
    .seller-registration-intro__title{
        text-align: left;
        font-size: 24px;
    }
    /*Seller Profile - Product pages*/
    .seller-profile__values,
    .seller-profile__values-full{
        max-width: 400px;
    }
    .inp-gallery{
        margin-right: 20px;
    }
    .inp-gallery-uploaded{
        margin-left: 0;
        margin-bottom: 20px;
        margin-right: 20px;
    }
    /*Seller products*/
    .cabinet-cards__item{
        width: 33.3333%;
    }
}
@media screen and (min-width: 767px) and (max-width: 1024px) and (orientation: landscape){
    /*Share*/
    .share-products {
        margin: 17px -15px 0 0;
    }
    /*Seller products*/
    .cabinet-cards__item{
        width: 25%;
    }
}
@media screen and (min-width: 767px) and (max-width: 1024px) and (orientation: portrait){
    /*Share*/
    .share-products{
        justify-content: center;
    }
    /*Seller Profile - Product pages*/
    .seller-profile__labels{
        max-width: 300px;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px){
    /*General*/
    .title{
        width: 100%;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
    }
    /*Product card*/
    .card-product{
        width: 50%;
        height: auto;
        padding: 7px;
    }
    .product{
        width: 155px;
    }
    .product-action{
        width: 24px;
        height: 24px;
    }
    .product-action__img{
        width: 14px;
    }
    .product__title{
        font-size: 12px;
    }
    .product-master__img{
        width: 16px;
        height: 16px;
    }
    .product-master__name{
        font-size: 10px;
    }
    .product-price__current{
        font-size: 14px;
    }
    .product-price__old,
    .product-rating__value{
        font-size: 10px;
    }
    .product-rating__icon{
        height: 11px;
    }
    /*Header*/
    .header{
        padding: 15px 0 0 0;
    }
    .header-top{
        padding: 0;
        /*border: none;*/
    }
    .header-top__inner{
        justify-content: space-between;
    }
    .logo{
        order: 2;
        width: 92px;
    }
    .header-top-menu{
        order: 1;
        margin-left: 0;
    }
    .header-top-menu__mobile{
        display: block;
    }
    .header-top-menu__inner{
        display: none;
        position: absolute;
        top: 35px;
        left: -15px;
        width: 100vw;
        padding: 15px 0 19px 0;
        background-color: #F9F9F9;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        z-index: 99;
    }
    .header-top-menu_opened .header-top-menu__inner{
        display: flex;
        justify-content: center;
    }
    .header-top-menu__list{
        flex-direction: column;
        align-items: flex-start;
    }
    .header-top-menu__item{
        margin-left: 0;
        margin-top: 10px;
    }
    .header-top-menu__link{
        font-size: 14px;
    }
    .header-top-menu__item:nth-child(3){
        order: 1;
    }
    .header-top-menu__item:nth-child(1),
    .header-top-menu__item:nth-child(2),
    .header-top-menu__item:nth-child(4),
    .header-top-menu__item:nth-child(5){
        order: 2;
    }
    .enter-link{
        width: auto;
        height: auto;
        background-color: transparent;
        border: none;
        padding-bottom: 10px;
    }
    .header-top-wishlist{
        margin-top: 20px;
    }
    .header-top-wishlist__icon{
        width: 16px;
    }
    .header-top-wishlist__text{
        display: inline-block;
    }
    .header-top-controls{
        order: 3;
        margin-left: 0;
    }
    .search{
        order: 4;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        margin-top: 15px;
        margin-left: -15px;
        margin-right: -15px;
        padding: 15px;
        border-top: 1px solid rgba(81, 120, 221, 0.1);
    }
    .header-catalog-menu{
        display: block;
    }
    .form-search{
        width: 240px;
    }
    .inp-search{
        height: 40px;
        line-height: 38px;
    }
    /*Menu*/
    .menu{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #F9F9F9;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow: hidden;
    }
    .menu_opened{
        display: block;
    }
    .menu-list{
        margin-left: -15px;
        margin-right: -15px;
    }
    .menu-item{
        width: 100%;
        margin-bottom: 25px;
    }
    .menu-item_active{
        padding-top: 22px;
        padding-bottom: 13px;
    }
    .menu-item_active{
        box-shadow: none;
        border-top: 1px solid rgba(81, 120, 221, 0.05);
        border-bottom: 1px solid rgba(81, 120, 221, 0.05);
    }
    .menu-link{
        justify-content: flex-start;
        height: auto;
        font-size: 12px;
    }
    .submenu-list{
        position: static;
        padding: 15px;
    }
    .submenu-item{
        width: 25%;
    }
    .submenu-link{
        font-size: 10px;
    }
    /*Intro*/
    .intro:before{
        left: 0;
    }
    .intro__bg{
        position: relative;
    }
    .intro-start{
        position: absolute;
        top: 0;
        left: 15px;
        width: 265px;
        height: auto;
        padding: 11px 15px 11px 0;
    }
    .intro__title{
        display: none;
    }
    .intro__description{
        max-width: 100%;
        font-size: 14px;
        line-height: 17px;
    }
    .intro__description span{
        display: block;
    }
    /*Benefits*/
    .benefits{
        padding: 21px 0;
        background-color: transparent;
    }
    .benefits-item{
        width: 100%;
    }
    .benefits-item:not(:first-child){
        display: none;
    }
    .benefits-item__title-counter{
        font-size: 16px;
        line-height: 19px;
    }
    .benefits-item__title-text{
        font-size: 14px;
        line-height: 17px;
    }
    .benefits-item__description{
        margin-top: 4px;
        font-size: 12px;
        line-height: 15px;
    }
    /*Share*/
    .share{
        padding: 15px 0 23px 0;
    }
    .share-products{
        margin: 16px -7px 0 -7px;
    }
    /*Other*/
    .other{
        padding-bottom: 23px;
    }
    /*Popular*/
    .popular{
        padding: 17px 0 3px 0;
    }
    .popular-masters{
        margin-top: 0;
        margin-right: 0;
    }
    .popular-master{
        flex-direction: column;
        margin-bottom: 23px;
        padding: 28px 0 0 0;
        background-color: #fff;
        border: none;
        border-top: 1px solid #C4C4C4;
    }
    .infinite-scroll-component{
        overflow: unset !important;
    }
    .popular-master:first-child{
        border: none;
    }
    .popular-master__info{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    .popular-master-avatar{
        order:1;
        width: 80px;
        height: 80px;
        border: 2px solid #F04650;
    }
    .popular-master-name{
        order:2;
        width: 100%;
        margin: 8px 0 5px 0;
        font-size: 14px;
        text-align: center;
    }
    .popular-master-link{
        order:3;
        font-size: 10px;
    }
    .popular-master-rating{
        order: 4;
    }
    .popular-master-link,
    .popular-master-rating{
        margin-left: 10%;
        margin-right: 10%;
    }
    .popular-master-rating__value{
        font-size: 10px;
    }
    .popular-master-rating__icon{
        width: 8px;
    }
    .popular-master-description{
        order: 5;
        margin: 9px 0;
    }
    .popular-master__gallery{
        width: 100%;
        margin-left: 0;
        padding-bottom: 10px;
    }
    .popular-master__mobile-title{
        display: block;
        font-size: 14px;
        margin-bottom: 5px;
    }
    .popular-master-slider{
        flex-wrap: nowrap;
        overflow: scroll;
        margin-right: -15px;
    }
    .popular-master-slider__main,
    .popular-master-slider__slide{
        min-width: 244px;
        max-width: 244px;
        flex-basis: 244px;
    }
    .popular-master-slider__slides{
        width: 1000px;
        margin-left: 0;
        padding-right: 15px;
        flex-direction: row;
    }
    .popular-master-slider__slide{
        width: 244px;
        margin-left: 12px;
    }
    .popular-master-slider__slide img{ /* это надо удалить: вырезал картинки маленьких размеров*/
        height: 100%;
    }
    .popular-master__products{
        max-width: 100%;
        flex-wrap: nowrap;
        overflow: hidden;
        margin-left: -9px;
        margin-right: -9px;
    }
    .popular-master__products .product{
        margin: 9px;
        min-width: 155px;
    }
    /*Footer*/
    .footer{
        padding: 34px 0;
        border-top: 1px solid rgba(81, 120, 221, 0.1);
    }
    .footer__inner{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-menu{
        flex-direction: column;
        width: 140px;
    }
    .footer-menu__item{
        width: 100%;
        margin-bottom: 8px;
        text-align: left;
    }
    .footer-menu__item:last-child{
        margin-bottom: 0;
    }
    .footer-menu__title{
        font-size: 12px;
    }
    .footer-menu__arrow{
        display: inline-block;
    }
    .footer-menu__item_opened .footer-menu__arrow{
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    .footer-menu__list{
        display: none;
        margin-top: 10px;
    }
    .footer-menu__item_opened .footer-menu__list{
        display: block;
    }
    .footer-menu__list-item{
        font-size: 10px;
    }
    /*---Seller Page---*/
    .seller{
        padding: 80px 0 17px 0;
    }
    .seller:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 800px;
        background-color: #F04650;
    }
    .seller__avatar{
        position: absolute;
        top: -64px;
        width: 128px;
        height: 128px;
        left: 50%;
        margin-left: -64px;
        border: 2px solid #FFFFFF;
    }
    .seller__contact-mobile{
        display: block;
        position: absolute;
        right: -2px;
        bottom: -2px;
        width: 35px;
        height: 35px;
        background: url("../img/seller-page/seller-contact-mobile.svg") no-repeat center center, #FDFDFD;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
    }
    .seller__name{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        line-height: 17px;
    }
    .seller__description{
        margin-top: 7px;
        margin-bottom: 26px;
    }
    .seller__contact{
        display: none;
    }
    .seller-products-info{
        justify-content: space-between;
    }
    .seller-products-info__item.seller-rating{
        display: none;
    }
    .seller-rating--mobile{
        display: flex;
        align-items: center;
        font-size: 10px;
        margin-left: 15px;
    }
    .seller-rating--mobile img{
        width: 8px;
        height: 10px;
    }
    .sorting{
        margin-top: 15px;
    }
    .seller-products{
        padding: 34px 0;
    }
    .seller-gallery{
        margin-bottom: 34px;
        overflow: hidden;
    }
    .seller-gallery__gallery{
        margin-top: 0;
    }
    .gallery{
        flex-wrap: nowrap;
        overflow-x: scroll;
        margin-right: 1px;
    }
    .gallery__item{
        width: 100%;
        min-width: 255px;
        padding: 6px 0 6px 15px;
    }
    .gallery__item img{
        width: 100%;
    }
    /*---Single Page---*/
    .single-product{
        padding: 15px 0 35px 0;
    }
    .single-product__inner{
        display: flex;
        flex-wrap: wrap;
    }
    .single-product__gallery{
        order:0;
        margin-bottom: 0;
    }
    .single-product__rating{
        order:1;
        margin: 14px 0 6px 0 ;
    }
    .single-product__rating-title{
        font-size: 13px;
        line-height: 16px;
    }
    .single-product-title{
        order:2;
        font-family:'SF Display light',sans-serif;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 7px;
    }
    form#single-product{
        order:3;
    }
    .single-product-controls__qty{
        order: 1;
        align-items: center;
        margin-top: 20px;
    }
    .single-product-controls__qty-title{
        font-size: 13px;
        line-height: 16px;
    }
    .single-product-controls__qty-btn{
        width: 20px;
        height: 20px;
    }
    .single-product-controls__qty-text{
        font-size: 10px;
        line-height: 12px;
    }
    .single-product-controls__price{
        order:0;
    }
    .single-product__form-label{
        font-size: 13px;
        line-height: 16px;
    }
    .custom-select-lg .select-items div, .custom-select-lg  .select-selected {
        height: 40px;
    }
    .single-product__form-field{
        margin-bottom: 9px;
    }
    .single-product-controls__price-btns-title{
        font-size: 10px;
        line-height: 12px;
    }
    .single-product-controls__price-btns{
        justify-content: flex-start;
    }
    .single-product-controls__price-btn{
        width: 28px;
        height: 20px;
        margin: 0 0 0 10px;
    }
    .single-product-controls__price-btn:first-child:after{
        display: none;
    }
    .single-product__tech{
        order:4;
        padding-top: 2px;
    }
    .single-product-small-title{
        font-family:'SF Display medium',sans-serif;
    }
    .single-product-small-title{
        width: 100%;
    }
    .single-product__tech-item{
        margin-top: 10px;
    }
    .single-product__tech-item:not(:first-child) .single-product-small-title{
        font-size: 13px;
        line-height: 16px;
    }
    .single-product__feedbacks{
        order:5;
        border-top: 1px solid #E8ECF6;
        padding-top: 28px;
        margin-top: 32px;
    }
    .single-product-master{
        order:6;
        flex-wrap: wrap;
        flex-direction: column;
        border: none;
        border-top: 1px solid #E8ECF6;
        border-bottom: 1px solid #E8ECF6;
        margin-top: 30px;
        margin-bottom: 0;
        padding: 24px 0 28px 0;
    }
    .single-product-master__avatar{
        width: 80px;
        height: 80px;
    }
    .single-product-master__info{
        margin-right: 0;
    }
    .single-product-master__rating{
        align-items: baseline;
    }
    .single-product-master__name{
        margin: 8px 0 5px 0;
        font-family:'SF Text regular',sans-serif;
        font-size: 14px;
        line-height: 17px;
    }
    .single-product-master__text{
        margin-top: 9px;
        font-family:'SF Text light',sans-serif;
    }
    .single-product-master__link{
        display: none;
    }
    .single-product-master__mob-title{
        display: block;
    }
    .single-product-master__link-mobile{
        display: block;
        margin-right: 80px;
        font-family:'SF Text meduim',sans-serif;
        font-size: 10px;
        line-height: 13px;
        text-decoration: underline;
    }
    .single-product__also{
        order:7;
        padding-top: 21px;
    }
    .single-product__similar{
        order:8;
        padding-top: 21px;
    }
    .single-product__submit{
        order:9;
        height: 43px;
    }
    .single-product-slider{
        display: none;
    }
    .single-product-side,
    .single-product__feedbacks{
        width: 100%;
        float: none;
    }
    .single-product-feedback__top{
        order: 0;
        width: 100%;
        align-items: flex-start;
    }
    .single-product-feedback__gallery{
        order: 2;
        min-width: 100%;
        margin-top: 10px;
    }
    .single-product-feedback__gallery-item{
        width: 21%;
        margin-right: 4%;
    }
    .single-product-feedback__gallery-item img{
        width: 100%;
    }
    .single-product-feedback__avatar{
        width: 30px;
        height: 30px;
    }
    .single-product-feedback__text{
        order: 1;
    }
    .single-product-feedback__info{
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-top: 8px;
        margin-right: 0;
        margin-left: 8px;
    }
    .single-product-feedback__date{
        font-family:"SF Display medium",sans-serif;
        color: #C4C4C4;
        margin: 0;
    }
    .single-product-feedback__rating{
        margin-top: 15px;
        margin-left: -38px;
    }
    .single-product-slider-main__btn{
        display: none;
    }
    .slick-dots{
        position: absolute;
        width: 100%;
        bottom: 15px;
        display: flex;
        justify-content: center;
    }
    .slick-dots button{
        display: none;
    }
    .slick-dots li{
        width: 16px;
        height: 2px;
        background-color: #F9F9F9;
        margin: 5px 2px;
    }
    .slick-dots li.slick-active{
        background-color: #F04650;
    }
    /*Checkout Page*/
    .checkout{
        padding: 15px 0 40px 0;
    }
    .checkout__inner{
        margin-top: 0;
    }
    .checkout-item{
        flex-wrap: wrap;
        padding: 0 0 22px 0;
        margin-bottom: 21px;
        border: none;
        border-bottom: 1px solid #E8ECF6;
    }
    .checkout-item__visual{
        display: flex;
        width: 100%;
        margin-right: 0;
        margin-top: 0;
    }
    .checkout-item__visual-img{
        width: 155px;
        margin-right: 15px;
    }
    .checkout-item__checkbox{
        left: 10px;
    }
    .checkout-item__checkbox span{
        width: 20px;
        height: 20px;
        margin-top: -10px;
        background: rgba(249, 249, 249, 0.5);
    }
    .checkout-item__visual-info{
        flex: 1;
    }
    .checkout-item__controls{
        margin-top: 0;
        height: 40px;
        background-color: #F9F9F9;
        border: 1px solid #CECECE;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
    .checkout-item__controls-item{
        width: 33.3333333336%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        border-right: 1px solid #C4C4C4;
    }
    .checkout-item__controls-item:last-child{
        border-right:none;
    }
    .checkout-item__btns,
    .checkout-item__btns .checkout-item__qty{
        margin-top: 11px;
        align-items: center;
    }
    .checkout-item__btns .single-product-controls__price-new{
        font-size: 22px;
        line-height: 26px;
    }
    .checkout-item__btns .single-product-controls__price-old{
        font-size: 16px;
        line-height: 19px;
    }
    .checkout .container .title:first-child,
    .checkout__recommend{
        display: none;
    }
    .checkout-item__title{
        font-size: 12px;
        line-height: 16px;
        margin-top: 10px;
    }
    .checkout-item-option__title{
        font-family:"SF Display medium",sans-serif;
        font-size: 13px;
        line-height: 16px;
    }
    .checkout__result{
        max-width: 100%;
    }
    .checkout-result{
        border: none;
        padding: 0;
    }
    .checkout-result__items{
        margin-top: 20px;
    }
    .checkout-result-item__top{
        font-size: 14px;
        line-height: 17px;
    }
    .checkout-result-item__bottom{
        font-size: 12px;
        line-height: 14px;
    }
    .checkout-result-item__price{
        font-family:"SF Display medium",sans-serif;
    }
    .checkout-result-item:before{
        margin-top: 0;
    }
    .checkout-result-item{
        margin-bottom: 12px;
    }
    .checkout-result__total{
        align-items: center;
        height: 42px;
        margin-top: 19px;
        margin-left: -15px;
        margin-right: -15px;
        padding-top: 0;
        padding-left: 15px;
        padding-right: 15px;
        background-color: rgba(196,196,196,0.2);
        border-top:none;
    }
    .checkout-result__delivery-title{
        font-family:"SF Display medium",sans-serif;
        font-size: 13px;
        line-height: 16px;
    }
    /*Seller Registration Page*/
    .seller-registration{
        padding: 0;
    }
    .seller-registration__block{
        height: auto;
        margin-top: 0;
        margin-bottom: 90px;
        padding: 0;
    }
    .seller-registration__bg{
        position: static;
    }
    .seller-registration__box{
        width: 100%;
        height: auto;
        margin-top: -40px;
        padding: 25px 20px;
    }
    .seller-registration__title{
        font-size: 14px;
        line-height: 17px;
    }
    .seller-registration__text{
        font-size: 12px;
        line-height: 14px;
    }
    .seller-registration-benefits-item__title{
        font-size: 14px;
        line-height: 17px;
    }
    .seller-registration-benefits-item__text{
        font-size: 12px;
        line-height: 14px;
    }
    .seller-registration-benefits{
        padding-top: 18px;
        padding-bottom: 30px;
    }
    .seller-registration-benefits__items{
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    .seller-registration-benefits-item{
        min-width: 320px;
    }
    .seller-registration-intro__description{
        display: none;
    }
    .seller-registration-intro__title{
        text-align: left;
        margin-bottom: 15px;
    }
    .seller-registration-intro{
        height: 200px;
    }
    .seller-registration-window:not(.window-sm){
        position: static;
        top: 0;
        left: 0;
        padding: 0 15px;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    .seller-registration-window__close{
        top: 15px;
        right: 15px;
    }
    .window-sm{
        position: relative;
    }
    /*--- Seller Cabinet ---*/
    .seller-cabinter{
        padding: 24px 0 40px 0;
    }
    .title--seller-cabinter{
        text-align: left;
    }
    .seller-cabinter__info{
        max-width: 100%;
        margin-top: 30px;
    }
    .seller-cabinter__info-row{
        margin-bottom: 9px;
    }
    .seller-cabinter__title{
        font-family:"SF Display medium",sans-serif;
        font-size: 14px;
        line-height: 17px;
    }
    .seller-cabinter__text{
        margin-top: 1px;
        font-size: 14px;
        line-height: 18px;
    }
    .seller-cabinter__avatar{
        margin-bottom: 14px;
    }
    .seller-cabinter__gallery{
        overflow: hidden;
    }
    .seller-cabinter__gallery-items{
        flex-wrap: nowrap;
        margin-left: 0;
        margin-right: 0;
        overflow: auto;
    }
    .seller-cabinter__gallery-item{
        min-width: 170px;
    }
    .seller-cabinter__gallery-item:first-child{
        margin-left: 0;
    }
    .seller-cabinter__btn{
        margin: 0 auto;
    }
    .seller-cabinter__cover{
        padding-top: 5px;
    }
    /*Seller Profile - Product pages*/
    .seller-profile__labels{
        margin-bottom: 10px;
        padding: 0;
    }
    .seller-product__block{
        margin-bottom: 30px;
        padding-bottom: 0;
    }
    /*Seller products*/
    .seller-products,
    .seller-orders,
    .seller-product{
        padding: 24px 0 40px 0;
    }
    .cabinet-cards__item{
        width: 50%;
    }
    .btn-product{
        height: 43px;
        background-color: #F9F9F9;
        font-size: 16px;
        line-height: 19px;
        border: 1px solid #FFFFFF;
    }
    .seller-cabinet-products__add{
        width: 155px;
        min-height: 155px;
        margin: 0 auto;
    }
    /*Seller orders*/
    .seller-orders-item{
        flex-wrap: wrap;
        flex-direction: column;
        padding: 15px;
    }
    .seller-orders-item__visual{
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .seller-orders-item__visual img{
        width: 100%;
    }
    .seller-orders__btns{
        max-width: 100%;
    }
    .seller-orders__top{
        padding-bottom: 0;
    }
    .seller-orders__tab-controls{
        margin-left: 0;
    }
    .seller-orders__tab-link{
        margin-top: 10px;
        margin-right: 15px;
        font-size: 16px;
        line-height: 19px;
    }
    /*user feedback page*/
    .header-top-profile{
        display: none;
    }
    .header-top-profile.mobile{
        display: flex;
        margin-left: 0;
        margin-top: 30px;
        justify-content: flex-start;
        order: 4;
    }
    /*about page*/
    .about__block-img{
        position: static;
        width: 100%;
        margin: 30px 0;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait){
    /*Checkout Page + Single Page Buy Buttons*/
    .checkout__buy.fixed-mobile,
    /*Seller Registration Page*/
    .single-product__submit.fixed-mobile{
        position: fixed;
        width: 91%;
        width: calc(100% - 30px);
        bottom: 15px;
        left: 15px;
        right: 15px;
        z-index: 2;
    }
    .seller-registration-window-socials__item{
        margin-right: 10px;
    }
    /*Seller Profile - Product pages*/
    .inp-gallery-uploaded{
        margin-right: 20px;
        margin-left: 0;
        margin-top: 20px;
    }
    .inp-seller--xs{
        max-width: 150px;
    }
    .inp-seller--xs:first-child{
        margin-bottom: 20px;
    }
    .inp-seller--xs+.inp-seller--xs{
        margin-left: 0;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
    /*Checkout Page*/
    .checkout-item__btns{
        display: flex;
        justify-content: space-between;
    }
}