@font-face {
    font-family: 'SF Text light';
    src: url('../fonts/sf-ui-text/SFUIText-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'SF Text lightitalic';
    src: url('../fonts/sf-ui-text/SFUIText-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'SF Text regular';
    src: url('../fonts/sf-ui-text/SFUIText-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SF Text meduim';
    src: url('../fonts/sf-ui-text/SFUIText-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'SF Text meduim';
    src: url('../fonts/sf-ui-text/SFUIText-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'SF Text semibold';
    src: url('../fonts/sf-ui-text/SFUIText-Semibold.ttf') format('truetype');
}

@font-face {
    font-family: "SF Display light";
    src: url('../fonts/sf-ui-display/sf-ui-display-light-58646b33e0551.otf') format('opentype');
}

@font-face {
    font-family: "SF Display regular";
    src: url('../fonts/sf-ui-display/SFUIDisplay-Regular.otf') format('opentype');
}

@font-face {
    font-family: "SF Display medium";
    src: url('../fonts/sf-ui-display/sf-ui-display-medium-58646be638f96.otf') format('opentype');
}

@font-face {
    font-family: "SF Display bold";
    src: url('../fonts/sf-ui-display/sf-ui-display-bold-58646a511e3d9.otf') format('opentype');
}

@font-face {
    font-family: "SF Display semibold";
    src: url('../fonts/sf-ui-display/sf-ui-display-semibold-58646eddcae92.otf') format('opentype');
}

@font-face {
    font-family: "SF Display black";
    src: url('../fonts/sf-ui-display/sf-ui-display-black-58646a6b80d5a.otf') format('opentype');
}

html, body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: 'SF Text regular', sans-serif;
    font-size: 14px;
    color: #000;
    background-color: #F9F9F9;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

input, textarea, button, a, video {
    outline: none;
}

a:hover {
    color: #F04650;
}

/*General*/
.fader {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.fader_active {
    display: block;
}

.ovh {
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    margin: 0;
    font-family: "SF Display medium", sans-serif;
    font-size: 30px;
    color: #1a1a1a;
}

.line-title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/*Product card*/
.card-product {
    width: 200px;
    height: 270px;
    padding: 18px 15px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.card-product:hover {
    background-color: #fff;
    -webkit-box-shadow: 0 15px 37px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 15px 37px rgba(0, 0, 0, 0.08);
    box-shadow: 0 15px 37px rgba(0, 0, 0, 0.08);
}

.product {
    width: 170px;
    margin-left: auto;
    margin-right: auto;
}

.product__image {
    position: relative;
}

.product-like {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    right: 10px;
    width: 26px;
    height: 26px;
    background-color: #F04650;
    border: 1px solid #FFFFFF;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    color: #ffffff;
    font-size: 12px;
    cursor: pointer;
}

.product-like__img {
    width: 16px;
}

.product__info {
    font-family: "SF Text light", sans-serif;
    padding-top: 9px;
}

.product__title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    color: #000;
}

.product-master {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 6px 0 10px 0;
}

.product-master__img {
    width: 17px;
    height: 17px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin-right: 5px;
    overflow: hidden;
}

.product-master__name {
    font-size: 12px;
    color: #000;
    text-decoration: underline;
}

.product-price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: "SF Text regular", sans-serif;
}

.product-price__current {
    font-size: 16px;
}

.product-price__old {
    margin-left: 10px;
    font-size: 12px;
    color: #F2911E;
    text-decoration: line-through;
}

.product-rating {
    display: flex;
    flex-wrap: wrap;
}

.product-rating {
    margin-top: 6px;
}

.product-rating__icon {
    height: 12px;
}

.product-rating__value {
    margin-left: 3px;
    font-size: 12px;
}

/*Sorting*/
.sorting {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.sorting__label {
    margin-right: 15px;
    font-family: 'SF Display regular', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #000;
}

.sorting__item {
    width: 200px;
}

/*Header*/
.header {
    position: relative;
    background-color: #F9F9F9;
    z-index: 5;
}

.header-top {
    padding: 8px 0;
    border-bottom: 1px solid rgba(81, 120, 221, 0.1);
}

.header-top__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.search {
    width: 340px;
    margin-left: 42px;
}

.header-catalog-menu {
    display: none;
    font-size: 14px;
    color: #1a1a1a;
    border-bottom: 1px solid #000;
}

.header-catalog-menu:hover {
    border-bottom: 1px solid #F04650;
}

.form-search {
    position: relative;
}

.btn-search {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;
    background: url("../img/search.svg") no-repeat center center, transparent;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.inp-search {
    width: 100%;
    height: 44px;
    line-height: 42px;
    padding: 0 40px 0 15px;
    -webkit-appearance: none;
    border: 1px solid #C4C4C4;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.header-top-menu {
    position: relative;
    margin-left: auto;
}

.header-top-menu__mobile {
    display: none;
    width: 20px;
    height: 15px;
    background: url("../img/mobile-menu.svg") no-repeat center center;
}

.header-top-menu_opened .header-top-menu__mobile {
    background: url("../img/mobile-menu-close.svg") no-repeat center center;
}

.header-top-menu__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header-top-menu__item {
    margin-left: 27px;
}

.header-top-menu__item:first-child {
    margin-left: 0;
}

.header-top-menu__link {
    font-size: 16px;
    color: #1a1a1a;
}

.enter-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 107px;
    height: 40px;
    border: 1px solid #F04650;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #F04650;
    background-color: #fff;
}

.enter-link__img {
    margin-right: 8px;
}

.header-top-wishlist {
    display: flex;
    align-items: center;
    color: #1a1a1a;
}

.header-top-wishlist__icon {
    width: 19px;
}

.header-top-wishlist__text {
    display: none;
    margin-left: 7px;
}

.header-top-controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 27px;
}

.header-top-basket {
    position: relative;
}

.header-top-basket__qty {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #F04650;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    font-size: 7.5px;
    color: #000;
    text-align: center;
}

.header-top-basket__icon {
    width: 20px;
}

/*Menu*/
.menu-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.menu-item {
    flex-grow: 1;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

.menu-item_active {
    background-color: #fff;
    -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.11);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.11);
}

.menu-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 46px;
    padding: 0 15px;
    font-size: 13px;
    color: #000;
}

.menu-item_active .menu-link {
    font-family: "SF Text meduim", sans-serif;
    color: #F04650;
}

.submenu-list {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px 15px;
    background-color: #ffffff;
    z-index: 3;
}

.submenu-item {
    width: 10%;
    padding: 0 10px;
}

/*.menu-item:hover .submenu-list{*/
/*display: flex;*/
/*}*/
.submenu-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'SF Text light', sans-serif;
    font-size: 12px;
    color: #000;
}

.submenu-link__text {
    text-align: center;
    margin-top: 10px;
}

/*Intro*/
.intro {
    position: relative;
    overflow: hidden;
}

.intro__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

/*.intro:before{*/
/*content: "";*/
/*position: absolute;*/
/*top: 0;*/
/*right: 0;*/
/*bottom: 0;*/
/*left: 40%;*/
/*background: url("../img/intro-bg.jpg") no-repeat center center;*/
/*background-size: cover;*/
/*}*/
.intro-start {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 465px;
    height: 400px;
    color: #ffffff;
    background-color: #F04650;
}

.intro-start:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    width: 800px;
    background-color: #F04650;
}

.intro__title {
    font-family: "SF Display bold", sans-serif;
    font-size: 70px;
    line-height: 83px;
    letter-spacing: 0.02em;
}

.intro__description {
    max-width: 75%;
    font-family: "SF Display light", sans-serif;
    font-size: 20px;
}

/*Benefits*/
.benefits {
    padding: 32px 0 36px 0;
    background-color: #fff;
}

.benefits__items {
    display: flex;
    flex-wrap: wrap;
}

.benefits-item {
    width: 33.33333336%;
    text-align: center;
}

.benefits-item__title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.benefits-item__title-counter {
    margin-right: 5px;
    font-family: "SF Display black", sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.01em;
    color: #F04650;
}

.benefits-item__title-text {
    font-family: 'SF Text meduim', sans-serif;
    font-size: 16px;
    color: #1a1a1a;
}

.benefits-item__description {
    font-family: 'SF Text light', sans-serif;
    margin-top: 7px;
    line-height: 17px;
}

/*Share*/
.share {
    padding: 58px 0 68px 0;
}

.share-products {
    display: flex;
    flex-wrap: wrap;
    margin: 17px -15px 0 -15px;
}
/*Other*/
.other{
    padding-bottom: 68px;
}
/*Popular*/
.popular {
    padding: 66px 0 50px 0;
    background-color: #fff;
}

.popular-masters {
    margin-top: 25px;
    margin-right: -30px;
}

.popular-master {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding: 30px;
    background: #FDFDFD;
    border: 1px solid #C4C4C4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.popular-master__info {
    width: 140px;
    font-family: "SF Text light", sans-serif;
}

.popular-master-avatar {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    overflow: hidden;
}

.popular-master-avatar img { /* чтобы потянуть в данном случае картинку если с прода будет большая эту строку можно удалить*/
    width: 100%;
}

.popular-master-name {
    margin: 4px 0;
    font-size: 16px;
}

.popular-master-rating {
    display: flex;
    align-items: center;
}

.popular-master-rating__icon {
    margin-right: 4px;
}

.popular-master-rating__value {
    font-size: 12px;
}

.popular-master-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    margin: 15px 0;
    font-size: 12px;
}

.popular-master-link {
    font-family: "SF Text meduim", sans-serif;
    font-size: 14px;
    color: #F04650;
    text-decoration: underline;
}

.popular-master__gallery {
    width: 355px;
    margin-left: 25px;
}

.popular-master__mobile-title {
    display: none;
}

.popular-master-slider {
    display: flex;
    flex-wrap: wrap;
}

.popular-master-slider__main {
    width: 260px;
}

.popular-master-slider__slides {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75px;
    margin-left: 20px;
}

.popular-master__products {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: auto;
}

.popular-master__products .product {
    margin: 0 15px;
}

/*Footer*/
.footer {
    padding: 68px 0 59px 0;
    border-top: 1px solid rgba(81, 120, 221, 0.1);
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
}

.footer-menu__item {
    width: 25%;
    text-align: center;
}

.footer-menu__title {
    font-family: 'SF Text semibold', sans-serif;
}

.footer-menu__arrow {
    display: none;
}

.footer-menu__list {
    margin-top: 21px;
}

.footer-menu__list-item {
    margin-bottom: 8px;
}

.footer-menu__list-item:last-child {
    margin-bottom: 0;
}

.footer-menu__link {
    color: #000;
    font-family: 'SF Text light', sans-serif;
}

/*------ CATEGORY -------*/
.category {
    padding-top: 60px;
    background-color: #FDFDFD;
}

.category__top {
    margin-bottom: 30px;
}

.category__content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.category__products {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin: -18px -15px 0 15px;
}

/*filter*/
.filter {
    width: 370px;
    margin-bottom: 25px;
    padding: 24px 30px 34px 30px;
    border: 1px solid #C4C4C4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.filter__nav {
    margin-bottom: 15px;
}

.filter__nav-item {
    margin-bottom: 8px;
}

.filter__nav-link {
    display: inline-block;
    padding-left: 18px;
    font-family: "SF Display regular", sans-serif;
    font-size: 16px;
    color: #000;
    background: url("../img/filter__nav-arrow.svg") no-repeat left center;
}

.filter__nav-link_current {
    font-family: "SF Display medium", sans-serif;
    background: none;
}

.filter__item {
    margin-bottom: 20px;
}

.filter__title {
    margin-bottom: 10px;
    font-family: "SF Display regular", sans-serif;
    font-size: 16px;
    color: #000;
}

.filter-label {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.filter-label__text {
    display: inline-block;
    margin-left: 3px;
    font-family: "SF Text light", sans-serif;
    font-size: 14px;
    color: #1A1A1A;
}

.inp--filter-radio,
.inp--filter-check {
    display: none;
}

.filter-radio {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #E5E5E5;
}

.filter-radio:after {
    content: "";
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    margin-left: -5px;
    margin-top: -5px;
    background-color: #F04650;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.inp--filter-radio:checked ~ .filter-radio:after {
    display: block;
}

.filter-more {
    font-family: "SF Display regular", sans-serif;
    font-size: 12px;
    color: #000;
    text-decoration: underline;
}

.filter-switch {
    position: relative;
    width: 34px;
    height: 17px;
    margin-right: 4px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    border: 1px solid #E5E5E5;
}

.filter-switch:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 2px;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #E5E5E5;
}

.inp--filter-check:checked ~ .filter-switch {
    border: 1px solid #F04650;
}

.inp--filter-check:checked ~ .filter-switch:after {
    left: auto;
    right: 2px;
    background-color: #F04650;
}

.filter-check {
    width: 15px;
    height: 15px;
    border: 1px solid #1A1A1A;
    margin-right: 1px;
}

.inp--filter-check:checked ~ .filter-check {
    background: url("../img/checkmark.svg") no-repeat center center, #F04650;
    border: 1px solid #F04650;
}

.filter-switch:before {
    content: attr(data-off);
    position: absolute;
    left: 41px;
    font-family: "SF Text light", sans-serif;
    font-size: 14px;
    color: #1A1A1A;
}

.inp--filter-check:checked ~ .filter-switch:before {
    content: attr(data-on);
}

/*pagination*/
.pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.pagination__link,
.pagination__link-prev,
.pagination__link-next,
.pagination__break {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: #FAFAFA;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    cursor: pointer;
}

.pagination__link,
.pagination__break {
    margin: 0 3px;
    border: 1px solid #CECECE;
}

.pagination__link {
    font-family: 'SF Display regular', sans-serif;
    font-size: 10px;
    line-height: 12px;
    color: #1A1A1A;
}

.pagination__link_active {
    color: #F04650;
}

.pagination__link-prev,
.pagination__link-next {
    border: 1px solid #F04650;
}

.pagination__link-prev {
    margin-right: 17px;
    background: url("../img/pagination-prev.svg") no-repeat center center;
}

.pagination__link-next {
    margin-left: 17px;
    background: url("../img/pagination-next.svg") no-repeat center center;
}

/*------ SELLER -------*/
.seller {
    position: relative;
    width: 100%;
    max-width: 474px;
    padding: 55px 40px 37px 0;
    background-color: #F04650;
    color: #FFFFFF;
}

.seller:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    width: 800px;
    background-color: #F04650;
}

.seller__avatar {
    width: 100px;
    height: 100px;
    margin-bottom: 17px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.seller__avatar img{
    width: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.seller__name {
    font-family: 'SF Text regular', sans-serif;
    font-size: 18px;
    line-height: 21px;
}

.seller__description {
    margin-top: 5px;
    margin-bottom: 55px;
    font-family: 'SF Text light', sans-serif;
    font-size: 12px;
    line-height: 14px;
}

.seller__contact,
.seller__contact:hover {
    margin-bottom: 24px;
    font-family: 'SF Text meduim', sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    text-decoration-line: underline;
}
.seller__contact-mobile{
    display: none;
}
.seller__products-info {
    margin-top: 24px;
}

.seller-products-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.seller-products-info__item {
    margin-right: 40px;
    font-family: 'SF Text light', sans-serif;
    font-size: 12px;
    line-height: 14px;
}
.seller-products-info__item:last-child{
    margin-right: 0;
}
.seller-products-info__item span {
    font-family: 'SF Text meduim', sans-serif;
}

.seller-rating {
    display: flex;
}

.seller-rating--mobile {
    display: none;
}

.seller-rating img {
    margin-right: 5px;
}

.seller-products {
    padding: 66px 0;
}

.seller-gallery {
    margin-bottom: 104px;
}

.seller-gallery__gallery {
    margin-top: 18px;
}

/*gallery*/
.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: -15px;
    margin-right: -15px;
}

.gallery__item {
    width: 25%;
    padding: 15px;
}

.gallery__link {
    position: relative;
    display: block;
}

.gallery__link:hover:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    z-index: 2;
}

.gallery__item--image .gallery__link:hover:after{
    background: url(../img/seller-page/gallery-hover.svg) no-repeat center, radial-gradient(52.04% 52.04% at 50% 47.96%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.46) 100%),
    radial-gradient(31.89% 31.89% at 50% 50%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}
.gallery__item--video .gallery__link:hover:after{
    background:  url(../img/seller-page/play-video-btn.svg) no-repeat center, radial-gradient(52.04% 52.04% at 50% 47.96%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.46) 100%),
    radial-gradient(31.89% 31.89% at 50% 50%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}
/*--- SINGLE PRODUCT ---*/
.single-product{
    padding: 33px 0 65px 0;
    background-color: #FDFDFD;
}
.single-product__gallery{
    float: left;
    width: 100%;
    max-width: 670px;
    margin-bottom: 70px;
}
.single-product-slider-main,
.single-product-slider{
    position: relative;
}
.single-product-slider{
    margin-top: 25px;
    padding: 0 47px;
}
.single-product-slider__btn,
.single-product-slider-main__btn{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    background-color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    z-index: 3;
}
.single-product-slider__btn:hover,
.single-product-slider-main__btn:hover{
    border: 1px solid #F04650;
}
.single-product-slider-main__btn{
    width: 50px;
    height: 50px;
    margin-top: -25px;
}
.single-product-slider__btn{
    width: 40px;
    height: 40px;
    margin-top: -20px;
}
.single-product-slider-main__prev{
    left: 30px;
}
.single-product-slider-main__next{
    right: 30px;
}
.single-product-slider__prev{
    left: 0;
}
.single-product-slider__next{
    right: 0;
}
.single-product-slider .slick-slide{
    margin: 0 8px;
}
.slick-slide{
    outline: none;
}

.single-product__content{
    width: 100%;
    max-width: 470px;
    margin-left: auto;
}
.single-product-side{
    width: 100%;
    max-width: 470px;
    margin-left: auto;
    float: right;
}
.single-product-side:after,
.single-product-side:before{
    content: '';
    display: table;
    clear: both;
}

.single-product-title{
    margin: 0 0 20px 0;
    font-family:'SF Display medium',sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 21px;
    color: #1A1A1A;
}
.single-product-master{
    display: flex;
    margin-bottom: 24px;
    padding: 13px 24px 10px 12px;
    border: 1px solid #C4C4C4;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.single-product-master__info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    min-width: 85px;
    margin-right: 20px;
}
.single-product-master__content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.single-product-master__avatar{
    width: 60px;
    height: 60px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    overflow: hidden;
}
.single-product-master__avatar img{
    width: 100%;
}
.single-product-master__name{
    margin: 5px 0;
    font-family:"SF Text light",sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #000;
}
.single-product-master__rating{
    display: flex;
}
.single-product-master__rating-value{
    margin-left: 4px;
    font-family:"SF Text light",sans-serif;
    font-size: 10px;
    line-height: 12px;
    color: #000;
}
.single-product-master__text{
    font-family:'SF Display light',sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #000;
}
.single-product-master__link,
.single-product-master__link-mobile{
    margin-top: auto;
    font-family: 'SF Display regular',sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #F04650;
    text-decoration: underline;
}
.single-product-master__mob-title{
    display: none;
    margin-bottom: 17px;
    font-family:'SF Display medium',sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #000;
}
.single-product-master__link-mobile{
    display: none;
}
.single-product__rating{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 9px;
}
.single-product__rating-title{
    font-family:"SF Text meduim",sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #000;
}
.single-product__rating-value{
    display: flex;
    align-items: flex-start;
    margin-left: 7px;
    font-family:"SF Text light", sans-serif;
    font-size: 13px;
    line-height: 16px;
    color: #000;
}
.single-product__rating-value img{
    margin-right: 3px;
}
.single-product__controls{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 18px;
}
.single-product-controls__qty{
    display: flex;
    flex-wrap: wrap;
}
.single-product-controls__qty-title{
    margin-right: 9px;
    font-family:'SF Display medium',sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #000;
}
.single-product-controls__qty-form{
    display: flex;
    align-items: baseline;
}
.single-product-controls__qty-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    font-family:'SF Display regular',sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    background-color: #F04650;
}
.single-product-controls__qty-btn:hover{
    color: #FFFFFF;
    background-color: #F04650;
}
.single-product-controls__qty-value{
    width: 26px;
    padding: 0;
    border: none;
    font-family:'SF Display regular',sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000;
}
.single-product-controls__qty-value::-webkit-outer-spin-button,
.single-product-controls__qty-value::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
.single-product-controls__qty-text{
    width: 100%;
    margin-top: 5px;
    font-family:'SF Display regular',sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: rgba(155, 155, 155, 0.5);
}
.single-product-controls__price-range{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.single-product-controls__price-new{
    font-family: 'SF Text semibold',sans-serif;
    font-size: 25px;
    line-height: 30px;
    color: #000;
}
.single-product-controls__price-old{
    margin-left: 8px;
    margin-top: 2px;
    font-family:'SF Text regular',sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #F2911E;
    text-decoration: line-through;
}
.single-product-controls__price-btns{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 3px;
}
.single-product-controls__price-btns-title{
    font-family:'SF Display light',sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: #000;
}
.single-product-controls__price-btns-box{
    display: flex;
    align-items: center;
}
.single-product-controls__price-btn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 15px;
    margin: 0 7px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    border: 1px solid #000;
    font-family: "SF Display semibold",sans-serif;
    font-size: 9px;
    line-height: 11px;
    color: #000;
}
.single-product-controls__price-btn:first-child:after{
    content: '';
    position: absolute;
    right: -8px;
    width: 1px;
    height: 15px;
    background-color: #000000;
}
.single-product__form{
    margin-top: 18px;
}
.single-product__form-field{
    margin-bottom: 25px;
}
.single-product__form-field:last-child{
    margin-bottom: 0;
}
.single-product__form-label{
    margin-bottom: 6px;
    font-family:'SF Display medium',sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #000;
}
.txtarea-single-product{
    width: 100%;
    height: 92px;
    padding: 15px 14px;
    border: 1px solid #E5E5E5;
    background-color: #FDFDFD;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    font-family:'SF Display light',sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    resize: none;
}
.txtarea-single-product::-webkit-input-placeholder {
    color: #000;
}
.txtarea-single-product::-moz-placeholder {
    color: #000;
}
.txtarea-single-product:-ms-input-placeholder {
    color: #000;
}
.txtarea-single-product:-moz-placeholder {
    color: #000;
}
.btn-red{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 55px;
    margin-top: 30px;
    background-color: #F04650;
    border: 1px solid #FFFFFF;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
    font-family:'SF Display semibold',sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #F9F9F9;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    cursor: pointer;
}
.btn-red:hover{
    border: 1px solid #F04650;
    background-color: #fff;
    color: #F04650;
}
.single-product__tech{
    padding-top: 10px;
    font-family:'SF Display light',sans-serif;
    color: #000;
}
.single-product__tech-item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 13px;
}
.single-product__tech-item .single-product-small-title{
    display: flex;
    align-items: center;
    margin-right: 8px;
}
.single-product__tech-text{
    font-size: 14px;
    line-height: 18px;
}
.single-product__tech-link{
    color: #000;
    text-decoration: underline;
}
.single-product__tech-warning{
    width: 60%;
    margin-top: 4px;
    font-size: 12px;
    line-height: 16px;
    color: #F04650;
}
.single-product-small-title{
    font-family:'SF Display regular',sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #000;
}
.single-product__question{
    margin-left: 2px;
    cursor: help;
}
.fw-single-product{
    width: 100%;
    margin-top: 4px;
}
.single-product__feedbacks{
    float: left;
    max-width: 100%;
    width: 550px;
}
.single-product-feedback{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 26px;
}
.single-product-feedback__top{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.single-product-feedback__avatar{
    width: 60px;
    height: 60px;
    overflow: hidden;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.single-product-feedback__info{
    margin-left: 12px;
    margin-right: 26px;
}
.single-product-feedback__name{
    font-family:'SF Display light',sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #000;
}
.single-product-feedback__date{
    margin-top: 3px;
    margin-bottom: 9px;
    font-family:'SF Display light',sans-serif;
    font-size: 10px;
    line-height: 12px;
    color: #000;
}
.single-product-feedback__rating{
    display: flex;
    align-items: center;
    width: 100%;
}
.single-product-feedback__rating img{
    margin-right: 4px;
}
.single-product-feedback__gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.single-product-feedback__gallery-item{
    position: relative;
    margin-right: 20px;
}
.single-product-feedback__gallery-item:last-child{
    margin-right: 0;
}
.single-product-feedback__gallery-item:hover:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/seller-page/gallery-hover.svg) no-repeat center, radial-gradient(52.04% 52.04% at 50% 47.96%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.46) 100%), radial-gradient(31.89% 31.89% at 50% 50%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}
.single-product-feedback__text{
    margin-top: 14px;
    font-family:'SF Display light',sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #1A1A1A;
}
.single-product__also{
    clear: both;
    padding-top: 75px;
}
.single-product__similar{
    clear: both;
    padding-top: 80px;
}
/*--- CHECKOUT ---*/
.checkout{
    padding: 58px 0 65px 0;
    background-color: #FDFDFD;
    counter-reset: checkout;
}
.checkout__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 35px;
}
.checkout__items{
    width: 100%;
    max-width: 770px;
}
.checkout-item{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    padding: 26px 0 56px 45px;
    border: 1px solid #C4C4C4;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.checkout-item__visual{
    width: 225px;
    margin-right: 30px;
    margin-top: 4px;
}
.checkout-item__visual-img{
    position: relative;
}
.checkout-item__checkbox{
    position: absolute;
    top: 50%;
    left: -30px;
    z-index: 2;
}
.checkout-item__checkbox span{
    display: block;
    width: 15px;
    height: 15px;
    margin-top: -8px;
    border: 1px solid #F04650;
    cursor: pointer;
}
.checkout-item__checkbox input{
    display: none;
}
.checkout-item__checkbox input:checked + span{
    background: url("../img/checkmark.svg") no-repeat center center, #F04650;
}
.checkout-item__text{
    flex: 1;
    font-size: 14px;
    line-height: 17px;
    /*color: #1A1A1A;*/
}
.checkout-item__controls{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 9px;
}
.checkout-item__controls-item{
    margin: 0 10px;
}
.checkout-item__controls-item svg {
    fill: #1A1A1A;
}
.checkout-item__controls-item svg:hover {
    fill: #F04650;
}
.checkout-item__btns{
    margin-top: 30px;
}
.checkout-item__qty{
    display: flex;
    flex-wrap: wrap;
    margin-top: 22px;
}
.checkout-item__title{
    font-family:"SF Display medium",sans-serif;
    font-size: 14px;
    line-height: 18px;
}
.checkout-item__options{
    width: 100%;
    max-width: 370px;
}
.checkout-item-option{
    margin-top: 16px;
}
.checkout-item-option__title{
    margin-bottom: 10px;
    font-family:"SF Display regular",sans-serif;
}
.checkout-item-option__field{
    display: flex;
    flex-wrap: wrap;
    margin-top: 6px;
    font-family:"SF Display light",sans-serif;
}
.checkout-item-option__value{
    margin-left: 5px;
}
.checkout-item-option__red{
    font-family:"SF Display regular",sans-serif;
    color: #F04650;
}
.checkout-item-option__question{
    position: relative;
    margin-left: 5px;
}
.checkout-item-option__question img{
    cursor: help;
}
.checkout-item-option__question-text{
    display: none;
    position: absolute;
    top: 0;
    right: -272px;
    width: 265px;
    padding: 13px 15px 10px 15px;
    font-family:"SF Display light",sans-serif;
    font-size: 12px;
    line-height: 14px;
    background-color: #fff;
    -webkit-border-radius: 0 5px 5px 5px;
    -moz-border-radius: 0 5px 5px 5px;
    border-radius: 0 5px 5px 5px;
    color: #1A1A1A;
}
.checkout-item-option__question-text:before{
    content: "";
    position: absolute;
    width: 10px;
    height: 20px;
    top: 0;
    left: -9px;
}
.checkout-item-option__question:hover .checkout-item-option__question-text{
    display: block;
}
/*.checkout-item-option .custom-select{*/
    /*font-family:"SF Text light",sans-serif;*/
    /*font-size: 12px;*/
    /*line-height: 14px;*/
/*}*/
.checkout-item-option__txtarea{
    display: block;
    width: 100%;
    height: 80px;
    padding: 10px;
    background-color: transparent;
    font-family:"SF Display light",sans-serif;
    /*font-size: 12px;*/
    /*line-height: 14px;*/
    font-size: 14px;
    line-height: 17px;
    /*color: #1A1A1A;*/
    border: 1px solid #C4C4C4;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    resize: none;
}
.checkout-item-option__txtarea::-webkit-input-placeholder {
    /*font-family: 'SF Text lightitalic',sans-serif;*/
    /*color: #C4C4C4;*/
    color: #000000;
}
.checkout-item-option__txtarea::-moz-placeholder {
    /*font-family: 'SF Text lightitalic',sans-serif;*/
    /*color: #C4C4C4;*/
    color: #000000;
}
.checkout-item-option__txtarea:-ms-input-placeholder {
    /*font-family: 'SF Text lightitalic',sans-serif;*/
    /*color: #C4C4C4;*/
    color: #000000;
}
.checkout-item-option__txtarea:-moz-placeholder {
    /*font-family: 'SF Text lightitalic',sans-serif;*/
    /*color: #C4C4C4;*/
    color: #000000;
}
.checkout__result{
    width: 100%;
    max-width: 370px;
    color: #000;
}
.checkout-result{
    padding: 15px 20px;
    border: 1px solid #C4C4C4;
}
.checkout-result__title{
    font-family:'SF Display medium',sans-serif;
    font-size: 18px;
    line-height: 21px;
}
.checkout-result__items{
    margin-top: 35px;
}
.checkout-result-item{
    margin-bottom: 25px;
}
.checkout-result-item:before{
    font-family:"SF Display light",sans-serif;
    counter-increment: checkout;
    content: counter(checkout)".";
    float: left;
    height: 35px;
    margin-top: 2px;
    margin-right: 3px;
}
.checkout-result-item__top{
    font-size: 16px;
    line-height: 19px;
}
.checkout-result-item__bottom{
    margin-top: 2px;
    font-size: 14px;
    line-height: 17px;
}
.checkout-result-item__top,
.checkout-result-item__bottom{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.checkout-result-item__name{
    font-family:"SF Display light",sans-serif;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.checkout-result-item__price{
    font-family:"SF Display regular",sans-serif;
}
.checkout-result__total{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 24px;
    border-top: 1px solid #C4C4C4;
    font-size: 16px;
    line-height: 19px;
}
.checkout-result__total-text{
    font-family:"SF Display medium",sans-serif;
}
.checkout-result__total-number{
    font-family:"SF Display regular",sans-serif;
}
.checkout-result__delivery{
    margin-top: 22px;
    font-family: 'SF Display regular',sans-serif;
    font-size: 14px;
    line-height: 17px;
}
.checkout-result__delivery-text{
    margin: 6px 0;
    font-family: 'SF Display light',sans-serif;
}
.checkout-result__delivery-link{
    display: inline-block;
    color: #F04650;
    text-decoration: underline;
}
.checkout__recommend{
    margin-top: 35px;
}
.checkout__buy{
    height: 43px;
    margin-top: 26px;
}
/*--- SELLER REGISTRATION ---*/
.seller-registration-intro__start{
    width: 800px;
    padding-right: 30px;
    background-color: #F04650;
}
.seller-registration-intro__title{
    color: #ffffff;
}
.seller-registration-intro__description{
    margin: 15px 0 20px 0;
    font-family: "SF Display light",sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
}
.seller-registration-benefits{
    padding-top: 67px;
}
.seller-registration-benefits__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.seller-registration-benefits-item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 370px;
}
.seller-registration-benefits-item__icon{
    display: flex;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 11px 17px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0 11px 17px rgba(0, 0, 0, 0.04);
    box-shadow: 0 11px 17px rgba(0, 0, 0, 0.04);
}
.seller-registration-benefits-item__title{
    margin: 15px 0 10px 0;
    font-family:"SF Text meduim",sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #1A1A1A;
}
.seller-registration-benefits-item__text{
    font-family:"SF Text light",sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #1A1A1A;
}
.seller-registration{
    padding-bottom: 44px;
}
.seller-registration__block{
    position: relative;
    height: 400px;
    margin-top: 80px;
    padding: 40px 0;
    overflow: hidden;
}
.seller-registration__bg{
    position: absolute;
    top: 0;
    right: 0;
}
.seller-registration__block--reverse .seller-registration__bg{
    right: auto;
    left: 0;
}
.seller-registration__box{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 570px;
    height: 320px;
    padding: 30px;
    background-color: #F04650;
    z-index: 2;
}
.seller-registration__block--reverse .seller-registration__box{
    margin-left: auto;
}
.seller-registration__title{
    margin: 0;
    font-family: "SF Text meduim",sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
}
.seller-registration__text{
    margin: 15px 0 20px 0;
    font-family: "SF Text light",sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #F9F9F9;
}
.seller-registration__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 57px;
    background-color: #fff;
    border: 2px solid #F04650;
    -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-family: "SF Display semibold",sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #F04650;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.seller-registration__btn:hover{
    border: 2px solid #ffffff;
    background-color: #F04650;
    color: #ffffff;
}
.seller-registration-modal{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    z-index: 99;
}
.seller-registration-modal_opened{
    display: block;
}
.seller-registration-window{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 434px;
    padding: 0 30px;
    background-color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0 15px 37px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 15px 37px rgba(0, 0, 0, 0.08);
    box-shadow: 0 15px 37px rgba(0, 0, 0, 0.08);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.seller-registration-modal__title{
    font-family: "SF Display semibold",sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #1A1A1A;
}
.seller-registration-modal__field{
    margin-bottom: 15px;
}
.seller-registration-modal__label{
    display: inline-block;
    margin-bottom: 6px;
    font-family: "SF Text regular",sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.seller-registration-modal__inp{
    width: 100%;
    height: 46px;
    padding: 14px 10px;
    border: 1px solid #C4C4C4;
    font-family: "SF Text lightitalic",sans-serif;
    font-size: 14px;
    line-height: 17px;
}
.seller-registration-modal__inp::-webkit-input-placeholder {
    color: #CECECE;
}
.seller-registration-modal__inp::-moz-placeholder {
    color: #CECECE;
}
.seller-registration-modal__inp:-ms-input-placeholder {
    color: #CECECE;
}
.seller-registration-modal__inp:-moz-placeholder {
    color: #CECECE;
}
.seller-registration-modal__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 55px;
    padding: 0;
    font-family: "SF Display semibold",sans-serif;
    font-size: 16px;
    line-height: 19px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    border: none;
    cursor: pointer;
}
.seller-registration-modal__btn--red{
    color: #F9F9F9;
    background-color: #F04650;
    border: 1px solid #FFFFFF;
}
.seller-registration-modal__btn--red:hover{
    color: #F04650;
    background-color: #FFFFFF;
    border: 1px solid #F04650;
}
.seller-registration-modal__btn--white{
    color: #F04650;
    background-color: #ffffff;
    border: 1px solid #F04650;
}
.seller-registration-modal__btn--white:hover{
    color: #ffffff;
    background-color: #F04650;
}
.seller-registration-window__address{
    padding: 34px 0 36px 0;
}
.seller-registration-modal__title--address{
    margin-bottom: 24px;
}
.seller-registration-window__address-btn{
    margin-top: 30px;
}
.seller-registration-window__noreg{
    padding: 34px 0 40px 0;
}
.seller-registration-window__noreg-reg{
    margin: 20px 0;
}
.seller-registration-window__text-after{
    margin-top: 15px;
    font-family:"SF Display light",sans-serif;
    font-size: 10px;
    line-height: 12px;
    color: #1A1A1A;
}
.seller-registration-window-socials__title{
    margin-bottom: 10px;
    font-family:"SF Display light",sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #1A1A1A;
}
.seller-registration-window-socials__items{
    display: flex;
    flex-wrap: wrap;
}
.seller-registration-window-socials__item{
    margin-right: 16px;
}
.seller-registration-window-socials__item:last-child{
    margin-right: 0;
}
.seller-registration-window__noreg-guest{
    margin: 15px 0 40px 0;
}
.seller-registration-modal__title--noreg{
    margin-bottom: 10px;
}
.seller-registration-window__reg{
    padding: 28px 0 39px 0;
}
.seller-registration-modal__title--reg{
    margin-bottom: 20px;
}
.seller-registration-window__finish{
    padding: 25px 0 35px 0;
}
.seller-registration-window__finish-text{
    margin: 12px 0 19px 0;
    font-family:"SF Display light",sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #1A1A1A;
}
.seller-registration-window--l{
    max-width: 830px;
}
.seller-registration-window__buy{
    padding: 38px 0 36px 0;
}
.seller-registration-modal__title-buy{
    margin-bottom: 30px;
    text-align: center;
}
.seller-registration-modal__cols{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.seller-registration-modal__col{
    width: 100%;
    max-width: 370px;
}
.seller-registration-window__buy-btn{
    margin-top: 29px;
}
.seller-registration-window__close{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}
.seller-registration-window__forgot{
    margin-top: 30px;
}
.seller-registration-window__forgot a{
    color: #F04650;
}
.seller-registration-modal__title--enter,
.seller-registration-modal__title--forgot{
    margin-bottom: 20px;
}
.seller-registration-window__text-after-medium{
    margin-top: 30px;
    font-family:"SF Display light",sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #1A1A1A;
}
.seller-registration-window__forgot-new{
    margin-top: 20px;
}